<!-- MAIN FOOTER -->
<footer class="p-2" id="main-footer">
	<p class="text-white text-center">
		2022
	</p>

	<hr class="mb-3 text-white w-50 mx-auto">

	<p class="text-center text-white">
		Social
	</p>

	<!-- SOCIAL LINKS -->
	<section class="w-50 mx-auto" id="social-links">
		<a href="https://www.facebook.com" class="btn btn-outline-primary" target="_blank" rel="noreferrer">
			Facebook
			<i class=""></i>
		</a>
		<a href="https://www.twitter.com" class="btn btn-outline-primary" target="_blank" rel="noreferrer">
			Twitter
			<i class=""></i>
		</a>
		<a href="https://www.twitter.com" class="btn btn-outline-primary" target="_blank" rel="noreferrer">
			Instragram
			<i class=""></i>
		</a>
		<a href="https://www.twitter.com" class="btn btn-outline-primary" target="_blank" rel="noreferrer">
			Telegram
			<i class=""></i>
		</a>

	</section>
</footer>
