/*
	Styles to use for about page.
*/

#main-container {
  /* fixing the margin of the container */
  margin-bottom: 16rem;
}

.card .card-body {
  display: flex;
}

.card .card-body img {
  width: 50%;
  border-radius: .5rem;
  margin-right: 1rem;
}

#programmer-link {
  text-decoration: none;
  color: #5e5eee;
}

#programmer-link:hover {
  border-bottom: .5px solid #999;
}

#programmer-link:active {
  color: #4e71ed;
}

#programmer-link:visited {
  color: #5e5eee;
}

#programmer-link:focus {
  background-color: #444;
}


/* Fix Responsive */

@media (max-width: 900px) {
  .card .card-body {
    display: block;
  }
  .card .card-body img {
    /* all width for the image */
    width: 100%;
  }
}