<!-- PRINCIPAL PAGE -->
{% extends 'layout.html' %}

{% block content %}

<p class="text-white text-justify mt-4" id="into-text">
	Buy the best games quickly, with a click.
</p>

<hr class="text-white">

<h2 class="text-white text-center" style="font-weight: lighter;">
	Games List
</h2>


<!-- GAMES VIEW -->
<section id="games-view">
	<form class="card" action="{{ url_for('shop.buy_game') }}" method="POST">
		<div class="card-header">
			<h3 class="text-white">Minecraft 1.18.2</h3>
			<input type="text" name="game-name" style="display: none;" value="Minecraft 1.18.2">
		</div>
		<div class="card-body">
			<p class="text-justify text-white">
			hola
			hola
			hola
			hola
			hola
			hola
			hola
			hola
			</p>
		</div>
		<div class="card-footer">
			<button type="submit" class="btn btn-success w-100">
				Buy	
			</button>
		</div>
	</form>
	<form class="card" action="{{ url_for('shop.buy_game') }}" method="POST">
		<div class="card-header">
			<h3 class="text-white">Granny 3</h3>
			<input type="text" name="game-name" style="display: none;" value="Minecraft 1.18.2">
		</div>
		<div class="card-body">
			<p class="text-justify text-white">
			hola
			hola
			hola
			hola
			hola
			hola
			hola
			hola
			</p>
		</div>
		<div class="card-footer">
			<button type="submite" class="btn btn-success w-100">
				Buy	
			</button>
		</div>
	</form>
	<form class="card" action="{{ url_for('shop.buy_game') }}" method="POST">
		<div class="card-header">
			<h3 class="text-white">Poppy Play Time Cap 2</h3>
			<input type="text" name="game-name" style="display: none;" value="Minecraft 1.18.2">
		</div>
		<div class="card-body">
			<p class="text-justify text-white">
			hola
			hola
			hola
			hola
			hola
			hola
			hola
			hola
			</p>
		</div>
		<div class="card-footer">
			<button type="submite" class="btn btn-success w-100">
				Buy	
			</button>
		</div>
	</form>
	<form class="card" action="{{ url_for('shop.buy_game') }}" method="POST">
		<div class="card-header">
			<h3 class="text-white">GTA 5</h3>
			<input type="text" name="game-name" style="display: none;" value="Minecraft 1.18.2">
		</div>
		<div class="card-body">
			<p class="text-justify text-white">
			hola
			hola
			hola
			hola
			hola
			hola
			hola
			hola
			</p>
		</div>
		<div class="card-footer">
			<button type="submite" class="btn btn-success w-100">
				Buy	
			</button>
		</div>
	</form>
</section>


{% endblock %}
