<!-- PRINCIPAL PAGE -->
{% extends 'layout.html' %}

{% block content %}

{% include 'partials/_messages.html' %}


<header>
  <p class="text-white text-justify mt-4" id="infoText">
    <i class="fa-solid fa-gamepad"></i> Buy the best games quickly, with a click.
  </p>

  <hr class="text-white">

  <h2 class="text-white text-center">
    Games List
  </h2>
</header>


<!-- GAMES VIEW -->
<section id="gamesView">
  <form class="card" action="{{ url_for('shop.buy_game') }}" method="POST">
    <div class="card-header">
      <h3 class="text-white">Minecraft 1.19 Update</h3>
      <h4 class="price lead">
        Price: <span>17</span> 
        <i class="fa-solid fa-star"></i>
      </h4>
      <input type="text" name="gameName" style="display: none;" value="Minecraft 1.19">
      <input type="text" name="starsPrice" style="display: none;" value="17">

    </div>
    <div class="card-body">
      <p class="text-justify text-white">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque consequuntur architecto hic veritatis minima ratione, ipsa eos doloremque officiis atque iste illum nesciunt corrupti quam aliquam in earum laudantium totam qui maiores porro eveniet nihil!
        Est error possimus nihil vitae laudantium fugit ab nobis tempora assumenda? Nisi consequatur earum temporibus.
      </p>
      <img src="{{ url_for('static', filename = 'img/games/minecraft1.19-image.jpg') }}" alt="minecraft1.19-image">
    </div>
    <div class="card-footer">
      <button type="submit" class="btn w-100">
        <i class="fa-solid fa-cart-shopping"></i>
			</button>
    </div>
  </form>
  <form class="card" action="{{ url_for('shop.buy_game') }}" method="POST">
    <div class="card-header">
      <h3 class="text-white">Granny 3</h3>
      <h4 class="price lead">
        Price: <span>13</span> 
        <i class="fa-solid fa-star"></i>
      </h4>
      <input type="text" name="gameName" style="display: none;" value="Granny 3">
      <input type="text" name="starsPrice" style="display: none;" value="13">
    </div>
    <div class="card-body">
      <p class="text-justify text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum velit accusantium suscipit fugiat beatae fuga aliquam delectus asperiores accusamus? Eius fugiat quis aspernatur labore a repellendus veniam. Nisi saepe architecto harum error et minus
        sint laudantium ducimus totam? Recusandae eaque optio quae et. Provident hic sequi placeat fuga possimus delectus!
      </p>
      <img src="{{ url_for('static', filename = 'img/games/granny3-image.jpg') }}" alt="granny3-image">
    </div>
    <div class="card-footer">
      <button type="submit" class="btn w-100">
        <i class="fa-solid fa-cart-shopping"></i>
			</button>
    </div>
  </form>
  <form class="card" action="{{ url_for('shop.buy_game') }}" method="POST">
    <div class="card-header">
      <h3 class="text-white">Poppy Play Time Cap 2</h3>
      <h4 class="price lead">
        Price: <span>8</span> 
        <i class="fa-solid fa-star"></i>
      </h4>
      <input type="text" name="gameName" style="display: none;" value="Poppy Play Time Cap 2">
      <input type="text" name="starsPrice" style="display: none;" value="8">
    </div>
    <div class="card-body">
      <p class="text-justify text-white">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi alias molestiae reprehenderit, ut, dolores quia totam hic laudantium molestias, maiores blanditiis cumque architecto nihil fugit ducimus qui tempora autem itaque nam? Vitae iusto, vel illum
        nulla fugiat, est autem eos expedita quos adipisci, temporibus accusamus nesciunt nobis. Ipsam, adipisci itaque?
      </p>
      <img src="{{ url_for('static', filename = 'img/games/poppy-play-time-cap-2.jpg') }}" alt="poppy-play-time-cap-2">
    </div>
    <div class="card-footer">
      <button type="submit" class="btn w-100">
        <i class="fa-solid fa-cart-shopping"></i>
			</button>
    </div>
  </form>
  <form class="card" action="{{ url_for('shop.buy_game') }}" method="POST">
    <div class="card-header">
      <h3 class="text-white">GTA 5</h3>
      <h4 class="price lead">
        Price: <span>18</span> 
        <i class="fa-solid fa-star"></i>
      </h4>
      <input type="text" name="gameName" style="display: none;" value="GTA 5">
      <input type="text" name="starsPrice" style="display: none;" value="18">
    </div>
    <div class="card-body">
      <p class="text-justify text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae unde accusantium doloribus consequatur at distinctio quam porro sequi ad, quo est iure pariatur modi explicabo magni repellat hic. Laboriosam eaque rem tempora tenetur doloribus cumque placeat
        maxime deleniti ullam hic laborum, natus pariatur, ab voluptates! Quam maxime accusamus assumenda illum.
      </p>
      <img src="{{ url_for('static', filename = 'img/games/gta5-image.webp') }}" alt="gta5-image">
    </div>
    <div class="card-footer">
      <button type="submit" class="btn w-100">
        <i class="fa-solid fa-cart-shopping"></i>
			</button>
    </div>
  </form>
  <form class="card" action="{{ url_for('shop.buy_game') }}" method="POST">
    <div class="card-header">
      <h3 class="text-white">MAD Out 2 Big City Online</h3>
      <h4 class="price lead">
        Price: <span>9</span> 
        <i class="fa-solid fa-star"></i>
      </h4>

      <input type="text" name="gameName" style="display: none;" value="Mad Out 2 Big City Online">
      <input type="text" name="starsPrice" style="display: none;" value="9">
    </div>
    <div class="card-body">
      <p class="text-justify text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae unde accusantium doloribus consequatur at distinctio quam porro sequi ad, quo est iure pariatur modi explicabo magni repellat hic. Laboriosam eaque rem tempora tenetur doloribus cumque placeat
        maxime deleniti ullam hic laborum, natus pariatur, ab voluptates! Quam maxime accusamus assumenda illum.
      </p>
      <img src="{{ url_for('static', filename = 'img/games/madout2-image.jpg') }}" alt="madout2-image">
    </div>
    <div class="card-footer">
      <button type="submit" class="btn w-100">
        <i class="fa-solid fa-cart-shopping"></i>
			</button>
    </div>
  </form>
  <form class="card" action="{{ url_for('shop.buy_game') }}" method="POST">
    <div class="card-header">
      <h3 class="text-white">Pug Mobile</h3>
      <h4 class="price lead">
        Price: <span>16</span> 
        <i class="fa-solid fa-star"></i>
      </h4>

      <input type="text" name="gameName" style="display: none;" value="Pug Mobile">
      <input type="text" name="starsPrice" style="display: none;" value="16">
    </div>
    <div class="card-body">
      <p class="text-justify text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae unde accusantium doloribus consequatur at distinctio quam porro sequi ad, quo est iure pariatur modi explicabo magni repellat hic. Laboriosam eaque rem tempora tenetur doloribus cumque placeat
        maxime deleniti ullam hic laborum, natus pariatur, ab voluptates! Quam maxime accusamus assumenda illum.
      </p>
      <img src="{{ url_for('static', filename = 'img/games/pug-mobile-image.jpg') }}" alt="pug-mobile-image">
    </div>
    <div class="card-footer">
      <button type="submit" class="btn w-100">
        <i class="fa-solid fa-cart-shopping"></i>
			</button>
    </div>
  </form>
  <form class="card" action="{{ url_for('shop.buy_game') }}" method="POST">
    <div class="card-header">
      <h3 class="text-white">Fx Racer</h3>
      <h4 class="price lead">
        Price: <span>10</span> 
        <i class="fa-solid fa-star"></i>
      </h4>

      <input type="text" name="gameName" style="display: none;" value="Fx Racer">
      <input type="text" name="starsPrice" style="display: none;" value="10">
    </div>
    <div class="card-body">
      <p class="text-justify text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae unde accusantium doloribus consequatur at distinctio quam porro sequi ad, quo est iure pariatur modi explicabo magni repellat hic. Laboriosam eaque rem tempora tenetur doloribus cumque placeat
        maxime deleniti ullam hic laborum, natus pariatur, ab voluptates! Quam maxime accusamus assumenda illum.
      </p>
      <img src="{{ url_for('static', filename = 'img/games/fx-racer-image.jpg') }}" alt="fx-racer-image">
    </div>
    <div class="card-footer">
      <button type="submit" class="btn w-100">
        <i class="fa-solid fa-cart-shopping"></i>
			</button>
    </div>
  </form>
  <form class="card" action="{{ url_for('shop.buy_game') }}" method="POST">
    <div class="card-header">
      <h3 class="text-white">Siren Head Resurrection</h3>
      <h4 class="price lead">
        Price: <span>10</span> 
        <i class="fa-solid fa-star"></i>
      </h4>

      <input type="text" name="gameName" style="display: none;" value="Siren Head Resurrection">
      <input type="text" name="starsPrice" style="display: none;" value="10">
    </div>
    <div class="card-body">
      <p class="text-justify text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae unde accusantium doloribus consequatur at distinctio quam porro sequi ad, quo est iure pariatur modi explicabo magni repellat hic. Laboriosam eaque rem tempora tenetur doloribus cumque placeat
        maxime deleniti ullam hic laborum, natus pariatur, ab voluptates! Quam maxime accusamus assumenda illum.
      </p>
      <img src="{{ url_for('static', filename = 'img/games/siren-head-resurrection-image.jpeg') }}" alt="siren-head-resurrection-image">
    </div>
    <div class="card-footer">
      <button type="submit" class="btn w-100">
        <i class="fa-solid fa-cart-shopping"></i>
			</button>
    </div>
  </form>
  <form class="card" action="{{ url_for('shop.buy_game') }}" method="POST">
    <div class="card-header">
      <h3 class="text-white">GTA San Andreas Resmastered</h3>
      <h4 class="price lead">
        Price: <span>12</span> 
        <i class="fa-solid fa-star"></i>
      </h4>

      <input type="text" name="gameName" style="display: none;" value="GTA San Andreas Remastered">
      <input type="text" name="starsPrice" style="display: none;" value="12">
    </div>
    <div class="card-body">
      <p class="text-justify text-white">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae unde accusantium doloribus consequatur at distinctio quam porro sequi ad, quo est iure pariatur modi explicabo magni repellat hic. Laboriosam eaque rem tempora tenetur doloribus cumque placeat
        maxime deleniti ullam hic laborum, natus pariatur, ab voluptates! Quam maxime accusamus assumenda illum.
      </p>
      <img src="{{ url_for('static', filename = 'img/games/gta-san-andreas-image.jpg') }}" alt="gta-san-andreas-image">
    </div>
    <div class="card-footer">
      <button type="submit" class="btn w-100">
        <i class="fa-solid fa-cart-shopping"></i>
			</button>
    </div>
  </form>
</section>


{% endblock %}